<footer class="page-footer">
    <div class="footer-foot-4 bgc-gray-base">
        <div class="container">
            <div class="row">
                <div class="__content-left">
                    <p class="font-heading fz-6-s">MEGATRON &copy; 2015 OSTHEMES - ENVATO PTY LTD</p>
                </div>
                <div class="__content-right">
                    <ul class="social circle">
                        <li><a href="#"><i class="icon icon-facebook-1"></i></a></li>
                        <li><a href="#"><i class="icon icon-twitter-1"></i></a></li>
                        <li><a href="#"><i class="icon icon-flickr"></i></a></li>
                        <li><a href="#"><i class="icon icon-linkedin-1"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>