<div class="main-nav  nav-absolute border-separator" >
    <div class="__middle">
        <div class="container">
            <div class="nav-content-wrapper">
                <div class="pull-left">
                    <div class="megatron inline">
                        <div class="cell-vertical-wrapper">
                            <div class="cell-middle"><a href="index.html">
                                    <div class="logo"><svg viewBox="0 0 100 100"> <g> <path d="M64.264,31.886v56.803l-14.319,8.259l-14.319-8.259v-74.3L14.157,26.771v41.271l7.156,4.128V30.905   l13.467-7.768v8.26l-6.311,3.64V84.56L7,72.178v-49.54L42.781,2v82.553l7.162,4.132l7.163-4.132V27.758L64.264,31.886z    M43.626,26.294l6.317-3.644L71.42,35.038V84.56l21.469-12.382v-49.54L57.106,2v15.546l7.157,4.128v-7.285l21.469,12.382v41.271   l-7.156,4.128V30.905L49.943,14.391l-6.317,3.644V26.294z"/> </g> </svg>
                                    </div>
                                    </a></div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <nav class="os-menu  main-menu text-center">
                        <ul>
                            <li><a href="">ACCUEIL</a> </li>
                            <li><a href="#">A PROPOS</a> </li>
                            <li><a href="#">NOS SERVICES</a>
                                <ul class="mega-menu menu-5-col menu-fullwidth menu-hr-heading">
                                    <li><a href="#">Organismes personnalisés</a>
                                        <ul>
                                            <li><a href="portfolio-3-columns-hover-style-1.html">Aéroport Mali</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-hover-style-2.html">Agence nationale de la sécurité routière</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-hover-style-3.html">3 COLUMNS STYLE 03</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-hover-style-4.html">3 COLUMNS STYLE 04</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-hover-style-5.html">3 COLUMNS STYLE 05</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-hover-style-6.html">3 COLUMNS STYLE 06</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-no-space.html">NO SPACE</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-wide.html">WIDE SCREEN</a>
                                            </li>
                                            <li><a href="portfolio-3-columns-wide-no-space.html">WIDE &amp; NO SPACE</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Services rattachés</a>
                                        <ul>
                                            <li><a href="portfolio-4-columns-hover-style-1.html">4 COLUMNS STYLE 01</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-hover-style-2.html">4 COLUMNS STYLE 02</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-hover-style-3.html">4 COLUMNS STYLE 03</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-hover-style-4.html">4 COLUMNS STYLE 04</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-hover-style-5.html">4 COLUMNS STYLE 05</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-hover-style-6.html">4 COLUMNS STYLE 06</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-no-space.html">NO SPACE</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-wide.html">WIDE SCREEN</a>
                                            </li>
                                            <li><a href="portfolio-4-columns-wide-no-space.html">WIDE &amp; NO SPACE</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="">ACTUALITÉS</a> </li>
                            <li><a href="">NOS RÉALISATIONS</a> </li>
                            <li><a href="">CONTACT</a> </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
