{% extends 'base.html.twig' %}

{% block titre %}A propos du Ministere des transport{% endblock %}

{% block pagetitle %}
    <section id="page-title">

        <div class="container clearfix">
            <h1>A Propos du Ministère</h1>
            <span>Get in Touch with Us</span>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="active">A Propos</li>
            </ol>
        </div>

    </section>

{% endblock %}

{% block content %}
    <div class="container clearfix">

        <div class="col_one_third">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Le rôle du <span>Ministère</span>.</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

        </div>

        <div class="col_one_third">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Notre <span>Vision</span>.</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

        </div>

        <div class="col_one_third col_last">

            <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Nos <span>Missions</span>.</h4>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

        </div>
        <div class="clear"></div>

        <div class="fancy-title title-border">
            <h3>L'ÉQUIPE MINISTÉRIEL</h3>
        </div>
        <div class="row">

            <div class="col-md-6 bottommargin">

                <div class="team team-list clearfix">
                    <div class="team-image">
                        <img src="images/team/3.jpg" alt="John Doe">
                    </div>
                    <div class="team-desc">
                        <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                        <div class="team-content">
                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                        </div>
                        <a href="#" class="social-icon si-rounded si-small si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-icon si-rounded si-small si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon si-rounded si-small si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-6 bottommargin">

                <div class="team team-list clearfix">
                    <div class="team-image">
                        <img src="images/team/4.jpg" alt="Nix Maxwell">
                    </div>
                    <div class="team-desc">
                        <div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
                        <div class="team-content">
                            <p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
                        </div>
                        <a href="#" class="social-icon si-rounded si-small si-forrst">
                            <i class="icon-forrst"></i>
                            <i class="icon-forrst"></i>
                        </a>
                        <a href="#" class="social-icon si-rounded si-small si-skype">
                            <i class="icon-skype"></i>
                            <i class="icon-skype"></i>
                        </a>
                        <a href="#" class="social-icon si-rounded si-small si-flickr">
                            <i class="icon-flickr"></i>
                            <i class="icon-flickr"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="section footer-stick">

        <h4 class="uppercase center">Que pense la <span>population</span> ?</h4>

        <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
            <div class="flexslider">
                <div class="slider-wrap">
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                            <div class="testi-meta">
                                Steve Jobs
                                <span>Apple Inc.</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                            <div class="testi-meta">
                                Collis Ta'eed
                                <span>Envato Inc.</span>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                            <div class="testi-meta">
                                John Doe
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}