{% extends "::base.html.twig" %}
{% block titre %}Actualités{% endblock %}
{% block pagetitle %}
    <section id="page-title">

        <div class="container clearfix">
            <h1>A la Une</h1>
            <span>Restez informer sur votre ministère</span>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="active">Actualité</li>
            </ol>
        </div>

    </section>

{% endblock %}

{% block content %}
    <div class="container clearfix">
        <div class="col_full nobottommargin clearfix">

            <div class="fancy-title title-border">
                <h3>Actualités</h3>
            </div>

            <div class="col_one_third">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/ibk.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="http://mali-web.org/politique/gestion-a-la-tete-du-pays-ibk-le-soldat-du-developpement">Gestion à la tête du pays: IBK, le soldat du développement</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 9th Sep 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 23</a></li>
                    </ul>
                    <div class="entry-content">
                        <p>Annoncé pour être un événement majeur devant mettre les projecteurs sur les grandes réalisations du président de la République Ibrahim Boubacar KEITA, depuis son accession à la magistrature suprême, la soirée Gala, dénommée «IBK ni Tché» aura comblé toutes les attentes des organisateurs, des invités et de personnalités présents, le samedi dernier à l’hôtel Radisson Blu de Bamako, qui ont compris et attesté que IBK est certainement un soldat du développement.</p>
                    </div>
                </div>
            </div>

            <div class="col_one_third">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/diner.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="http://www.essor.ml/diner-gala-lumiere-sur-les-realisations-du-president-de-la-republique/">Diner gala : Lumière sur les réalisations du président de la république</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 23rd Aug 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 33</a></li>
                    </ul>
                    <div class="entry-content">
                        <p>L’hôtel Radisson blu a abrité samedi dernier un dîner gala organisé dans le cadre du quatrième anniversaire de l’élection de Ibrahim Boubacar Kéïta à la tête du pays. La soirée a été l’occasion de montrer certaines de ses réalisations durant ces quatre dernières années. L’événement était placé sous la présidence de Me Baber Gano, ministre des Transports et secrétaire général du parti au pouvoir : le Rassemblement pour le Mali (RPM).</p>
                    </div>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/comav.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="http://maliactu.net/mali-comanav-modibo-keita-et-fihroun-desormais-en-service/">Mali : COMANAV : «Modibo Keita» et «Fihroun» désormais en service</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 11th Feb 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                    </ul>
                    <div class="entry-content">
                        <p>En vue de relancer  le trafic fluvial, deux  nouveaux bateaux ont été remis par le Président de la République Ibrahim Boubacar Keita  à la  Compagnie malienne de navigation (COMANAV). Ils constituent un début de renouvellement de la flotte et le désenclavement intérieur du pays par voie fluviale. Les joujoux  portent  désormais les noms «Modibo Keita» et «Fihroun Ag  Al Insar ». La cérémonie a eu lieu le Samedi 13 Juin 2015 dans les locaux...</p>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third nobottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/min.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="http://malijet.com/actualite-politique-au-mali/197239-le-ministre-baber-gano-%E2%80%9Cde-1960-%C3%A0-nos-jours%2C-l%E2%80%99arm%C3%A9e-de-l%E2%80%99air-du.html">Le ministre Baber Gano : “De 1960 à nos jours, l’armée de l’air du Mali n’a jamais été dotée en une seule année de tant d’aéronefs”</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 17th Jan 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 50</a></li>
                    </ul>
                    <div class="entry-content">
                        <p>” IBK ni tché ” ou merci IBK. Tel était le nom de la soirée de reconnaissance organisée le samedi dernier à l’hôtel Radisson Blu de Bamako par la société Sud Sva afin de mettre en lumière les grands chantiers bâtis par le président de la République Ibrahim Boubacar Kéïta et son gouvernement durant les quatre années passées aux affaires. Projections des réalisations, témoignages des personnalités, prestations d’artistes ont été les temps forts de cet événement.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col_one_third nobottommargin">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/trans.png" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="http://www.maliweb.net/economie/transport/contrat-de-concession-entre-transrail-letat-malien-marche-de-dupes-2281222.html">Mali : Contrat de concession entre Transrail et l’Etat Malien : Un marché de dupes</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 20th Nov 2014</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                    </ul>
                    <div class="entry-content">
                        <p>Pour éviter l’arrêt de l’activité ferroviaire en attendant la mise en œuvre du nouveau schéma institutionnel, les Etats du Mali et du Sénégal avaient signé une convention de concession avec Transrail-SA en 2003.
                            Le Sénégal a alors transféré ses prérogatives de service public au PTB,  mais notre pays a tout simplement signé la convention pour ensuite laisser un vide juridique doublé d’un manque de suivi.
                            Conséquences, de 2003 à 2016, le partenariat avec  la société Transrail a non seulement été un  cuisant échec, mais aussi  il aura couté inutilement à l’Etat Malien plus de 58 milliards de nos francs.</p>
                    </div>
                </div>
            </div>

            <div class="col_one_third nobottommargin col_last">
                <div class="ipost clearfix">
                    <div class="entry-image">
                        <a href="#"><img class="image_fade" src="images/baber.jpg" alt="Image"></a>
                    </div>
                    <div class="entry-title">
                        <h3><a href="https://niarela.net/economie/ministere-des-transports-me-baber-gano-devoile-sa-strategie">Ministère des transports: Me Baber Gano dévoile sa stratégie</a></h3>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> 10th Dec 2013</li>
                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                    </ul>
                    <div class="entry-content">
                        <p>« La nomination aux postes de directeurs et chefs de service ne doit plus signifier simplement l’occupation d’un fauteuil. Elle renvoie plutôt à l’exigence de performance et surtout de bien servir le Mali et à temps. C’est aussi, promouvoir la culture de la récompense du mérite et de la sanction aussi ».Outre le ministre Me Baber GANO, la cérémonie s’est déroulée en présence de Makan Fily DABO, secrétaire général des deux départements (Transports et Équipement et du désenclavement) en attendant l’attribution d’un bureau et l’installation du cabinet de Me GANO ; le directeur général de l’ANAC, Oumar Mamadou BA</p>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}