{% extends 'base.html.twig' %}

{% block titre %}Contactez-nous{% endblock %}

{% block pagetitle %}
    <section id="page-title">

        <div class="container clearfix">
            <h1>Contactez nous</h1>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="active">Contactez-nous</li>
            </ol>
        </div>

    </section>
    <section id="google-map" class="gmap slider-parallax"></section>

{% endblock %}

{% block content %}
    <div class="container clearfix">

        <!-- Postcontent
        ============================================= -->
        <div class="postcontent nobottommargin">

            <h3>Ecrivez au Ministère</h3>

            <div class="contact-widget">

                <div class="contact-form-result"></div>

                <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">

                    <div class="form-process"></div>

                    <div class="col_one_third">
                        <label for="template-contactform-name">Nom <small>*</small></label>
                        <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                    </div>

                    <div class="col_one_third">
                        <label for="template-contactform-email">Email <small>*</small></label>
                        <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                    </div>

                    <div class="col_one_third col_last">
                        <label for="template-contactform-phone">Téléphone</label>
                        <input type="text" id="template-contactform-phone" name="phone" value="" class="sm-form-control" />
                    </div>

                    <div class="clear"></div>

                    <div class="col_two_third">
                        <label for="template-contactform-subject">Objet <small>*</small></label>
                        <input type="text" id="template-contactform-subject" name="subject" value="" class="required sm-form-control" />
                    </div>

                    <div class="col_one_third col_last">
                        <label for="template-contactform-service">Services</label>
                        <select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
                            <option value="">-- A quel département --</option>
                            <option value="Wordpress">Bureau du Ministre</option>
                            <option value="PHP / MySQL">Réclammation</option>
                            <option value="HTML5 / CSS3">Chef de cabinet</option>
                            <option value="Graphic Design">Servicc</option>
                        </select>
                    </div>

                    <div class="clear"></div>

                    <div class="col_full">
                        <label for="template-contactform-message">Message <small>*</small></label>
                        <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                    </div>

                    <div class="col_full hidden">
                        <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                    </div>

                    <div class="col_full">
                        <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Envoyer</button>
                    </div>

                </form>
            </div>

        </div><!-- .postcontent end -->

        <!-- Sidebar
        ============================================= -->
        <div class="sidebar col_last nobottommargin">

            <address>
                <strong>Adresse:</strong><br>
                Cité Ministérielle<br>
                Batiment 2<br>
            </address>
            <abbr title="Phone Number"><strong>Téléphone:</strong></abbr> (223) 8547 632521<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (223) 11 4752 1433<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> info@mt.com

            <div class="widget noborder notoppadding">

                <div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="3" data-animation="slide" data-arrows="false">
                    <i class="i-plain i-small color icon-twitter nobottommargin" style="margin-right: 15px;"></i>
                    <div class="flexslider" style="width: auto;">
                        <div class="slider-wrap">
                            <div class="slide"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="widget noborder notoppadding">

                <a href="#" class="social-icon si-small si-dark si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a href="#" class="social-icon si-small si-dark si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>



            </div>

        </div><!-- .sidebar end -->

    </div>

{% endblock %}
{% block scripts  %}
    <script type="text/javascript">

        $('#google-map').gMap({

            address: 'Badalabougou, Mali',
            maptype: 'ROADMAP',
            zoom: 14,
            markers: [
                {
                    address: "Badalabougou, Mali",
                    html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Bonjour, nous sommes le <span>Ministère des transports du Mali</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
                    icon: {
                        image: "images/icons/map-icon-red.png",
                        iconsize: [32, 39],
                        iconanchor: [13,39]
                    }
                }
            ],
            doubleclickzoom: false,
            controls: {
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: false,
                streetViewControl: false,
                overviewMapControl: false
            }
        });

    </script>
{% endblock %}